.social-links {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Styles specific to the SinglePlayer component */
.single-player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  min-width: 1400px;
  max-width: none;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 48px;
}

.search-bar {
  padding-top: 60px;
  width: 100%;
}
